@font-face {
    font-family: "SolomonSans";
    src: url("fonts/Solomon_Sans_Black.otf");
}
header{
    white-space: nowrap;
}
.container{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}
.container > *{
    padding: 0 5%;
}

a.active{
    font-weight: bolder;
}
/* Top Header */

.top-header {
    padding-top: 5px;
    font-size: 0.875rem;
}
.top-header a{
    color: #808080;
}
.top-header nav > a{
    margin-right: 2px;
    font-weight: 300;
}
.search-icon{
    color: green;
    height: 1rem;
    width: 1rem;
    background: url("img/search.svg") no-repeat;
}
.language{
    align-self: center;
}
.language span{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.account{
    text-align: right;
    color: #111111;
    font-weight: 500;
    align-self: center;
    display: inline-flex;
}
.account a:before{
    content: "";
    display: block;
    background: url("img/buy.png") no-repeat 0;
    width: 20px;
    height: 20px;
    float: left;
}



/* Middle Header */
.middle-header{
    align-items: flex-end;
}
.banner{text-align: center}


.banner__title{
    display: inline-block;
    bottom: -0.5rem;
    position: relative;
    margin-left: 15px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #2ED100;
}

.contacts__phone{
    color: #333333;
    font-weight: bold;
    font-size: 1.125rem;
}
.contacts__mail, .contacts__feedback{
    color: #111111;
    font-size: 0.875rem;
    text-decoration: underline rgba(46, 209, 0, 0.4) ;
}
.contacts__mail{
    margin-right:20px;
}

.order{
    text-align: right;
}
.order_button{
    padding: 0 20px;
    font-size: 1.075rem;
    height: 2.5rem;
    background-color: #2ED100;
    border: none;
    color: #000000;
    font-weight: bold;
    overflow: hidden;
}
/*Bottom header*/

.bottom-header > nav > a{
    font-size:1.125rem;
    font-weight: bold;
    color: #111111;
}

/*Main*/
.right{
    position: relative;
    min-height: 650px;
    background:  url("img/frame.png") no-repeat 0 50px;
    background-size: contain;
}

.left .description{
    margin: 30px 0;
    font-size: 1rem;
    line-height: 170%;
    word-spacing: 0.75rem;
}

.details{
    width: 270px;
    padding: 5px 10px;
    border: #2ED100 solid 2px;
    background-color: white;
    color: #2ED100;
    font-size: 21px;
    font-weight: bold;
    margin: 20px 0 50px 0;
}

.play-market, .app-store{
    width: 190px;
    height: 60px;
    margin: 10px 2px;
    border: none;
}
.play-market{
    background: url("img/play-market.png") no-repeat;
    background-size: cover;
}
.app-store{
    background: url("img/app-store.png ") no-repeat;
    background-size: cover;
}
.main-logo{
    margin: 20px 0;
}
.main-logo img{
    width: 150%;
}
.right-desc{
    padding: 15px 25px 15px 20px;
    position: absolute;
    max-width: 380px;
    bottom: 2%;
    right: 0;
    color: #ffffff;
    font-size: 1.075rem;
    font-weight: 300;
    background: rgba(0,0,0,0.8);
}